@font-face {
  font-family: "POPPINBOLD";
  src: url("../Fonts/Poppins/Poppins-Bold.woff2") format("woff2"); /* Format WOFF2 */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "POPPINSEMIBOLD";
  src: url("../Fonts/Poppins/Poppins-SemiBold.woff2") format("woff2"); /* Format WOFF2 */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "POPPIN";
  src: url("../Fonts/Poppins/Poppins-Regular.woff2") format("woff2"); /* Format WOFF2 */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "POPPINEXTRABOLD";
  src: url("../Fonts/Poppins/Poppins-ExtraBold.woff2") format("woff2"); /* Format WOFF2 */
  font-weight: normal;
  font-style: normal;
}

.nav-link {
  font-size: 20px;
  color: #7fd0a7;
}

.nav-item {
  margin-right: 20px;
}

.btn.btn-outline-primary:hover {
  background-color: transparent;
  color: #7fd0a7;
  border-color: #7fd0a7;
}

.daftar a {
  text-decoration: none;
  color: #7fd0a7;
}

.card-judul {
  text-align: center;
}

.card-harga {
  font-family: POPPIN;
  color: #7fd0a7;
  text-align: center;
}

.nav-link,
.container-fluid h1,
.container-fluid .text-start,
.modal-title,
.card-judul,
.col-deskripsi h2,
h3,
.text-jual h1,
.col-deskripsi h6,
.text-bayar h2 {
  font-family: POPPINBOLD;
}

.col-deskripsi h6 {
  color: grey;
}

.modal,
.text-counter,
.container-fluid h3,
.text-penjualan p,
.text-isi-bayar p,
.text-isi-bayar h5 {
  font-family: POPPIN;
}

.text-penjualan p {
  font-size: 1rem;
}
